$orange: #FA8728;
$orangeHighlighted: #fc5808;

$dark: #333333;

$gray: #DEDEDE;
$bgColor: #F6F6F6;


._theme_orange {
  background-color: $orange;
  color: white;
}

._theme_orange a {
  color: white;
  text-decoration: none;
}
//._theme_orange a:hover {
//  opacity: 0.7;
//}
//._theme_orange li:hover::after {
//  opacity: 0.7;
//}



._theme__light {
  background-color: white;
  color: $dark;
}
._theme_light a {
  color: $dark;
}
._theme_light a:hover {
  color: $orangeHighlighted;
}
