$orange: #FA8728;

$dark: #333333;

$borderColor: #DEDEDE;
$bgColor: #F6F6F6;


._theme_orange {
  background-color: $orange;
  color: white;
}
._theme_orange a {
  color: white;
  text-decoration: none;
}
