@import "topbar-submenu";
@import "notifications";

.topbar {
  background-color: $orange;
  font-size: 13px;
  position: relative;
  z-index: $topbarZ;
  color: white;
}

.topbar .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  //box-sizing: border-box;
  height: $topbarHeight;
}
.city-select {
  cursor: pointer;
}
.topbar__city-select {
  width: $leftAsideFit;
}
.topbar__city-select:hover .elem-list__body {
  opacity: 0.7;
}


// Список
.topbar__list {
  display: flex;
}

.topbar__item {
  position: relative;
  user-select: none;
}
.topbar__item._expandable {

}
.topbar__item._expandable .topbar__link::after {
  content: '';
  display: block;
  position: absolute;
  $a: 5px;
  width: $a;
  height: $a;
  right: -2 * $a;
  top: 4px;
  border-width: 0;

  $width: 1px;
  border-bottom-width: $width;
  border-left-width: $width;
  border-style: solid;
  transform: rotate(-45deg);
}

.topbar__link {
  color: white;
  text-decoration: none;
  position: relative;
}
.topbar__link:hover {
  opacity: 0.7;
}


.topbar__common-list {

}
.topbar__common-list li {
  padding-right: 16px;
}

.topbar__profile-list li {
  padding-left: 16px;
}

.topbar__phone-number {
  user-select: initial;
}

.notifications-button {
  margin: 0 16px;
  cursor: pointer;
}
.notifications-button__body:hover {
  opacity: 0.7;
}
.topbar__notifications-button {
  //margin: 0 16px;
}
.notifications-button__icon {

}
.notifications-popover__item {

}
.notifications-popover__link {

}
