.prime-header {
  position: absolute;
  top: $topbarHeight;
  left: 0;
  right: 0;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  font-size: 15px;
  background-color: white;
  z-index: $primeHeaderZ;
}
.prime-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: $primeHeaderHeight;
}


.logo {
  position: relative;
}
.logo__link {

}
.logo__image {

}
.logo__hint {
  display: none;
  position: absolute;
}

.prime-header__search-form {
  border-radius: 8px;
  padding: 8px 10px;
  border: 1px solid $gray;
  margin: 0 16px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.search-form__input {
  font-size: 15px;
  font-family: "PT Sans";
  border: none;
  outline: none;
  width: 100%;

}
.search-form__search-button {
  cursor: pointer;
  opacity: 0.5;
  font-size: 18px;
}
.search-form__search-button:hover {
  opacity: 1;
}

.prime-header__buttons {

}
.prime-header__button {
  text-decoration: none;
  margin-right: 16px;
  display: inline-block;
  color: $dark;
}
.prime-header__button i {
  color: $gray;
  font-size: 17px;
  margin-right: 4px;
}
.prime-header__button:hover {
  color: $primeHeaderOrange;
}
