//Запросы, спрятывающие мобильные элементы
@media (min-width: $mobileWidth + 1px) {
  .m-topbar {
    display: none;
  }
  .catalog-button {
    display: none;
  }
  .m-nav {
    display: none;
  }
  .m-menu-wrapper {
    display: none;
  }
}
//Запросы, скрывающие элементы десктопа
@media (max-width: $mobileWidth) {
  .topbar {
    display: none;
  }
  .prime-header {
    display: none;
  }
  .page {
    margin-top: 24px;
  }
  .aside {
    display: none;
  }
  .page .container {
    display: block;
  }
}
